*{
  box-sizing: border-box;
}


nav{
    text-align: right;
  
}

div{
border: 1px solid black;

}


/*Projects list: lines between each project item */
h2#projects + ul{
  list-style: none;
  margin: 0;
  padding: 0;
}


h2#projects + ul li.project-item {
  padding: 0.75rem 1rem;
  border-bottom: 2px solid black; /* line between project items */
  display: block;
}

h2#projects + ul li.project-item:last-child{
  border-bottom:  none; /* makes sure that there is no line after the last item*/
}



/*selects all the <a> tags that are descendents of the <nav> element */

nav a{
  padding: 0.5rem 0.5rem;
  background-color: lightcyan;
}


.project-item{
  position: relative;
  padding: 1rem 0;
  font-size: 1.2rem;
  /* make all project boxes a uniform size and center their content */
  display: flex;
  align-items: center;
  justify-content: center;
  height: 72px; /* adjust this value to make boxes taller/shorter */
  box-sizing: border-box;

}



.section hr{
  border: solid;
  text-decoration-line:line-through;
  
}


.section{
  float: left;
  width: 33.33%;
  padding: 13px;
  min-height: 350px;
  border: 1px solid;
  text-align: center;
}


.container:after{
  content: "";
  display: table;
  clear: both;
}

